<div class="navbar">
  <%= link_to  "Cayliv",root_path, class: "navbar-logo" %>
    <ul class="nav">
      <% if current_user %>
        <li class="navbar-link">
          <%= link_to  "Favorites",root_path %>
            <%#change this route!%>
        </li>
        <li class="navbar-link">
          <%= link_to  "My orders",root_path %>
            <%# change this route! %>
        </li>
        <li class="navbar-link">
          <%= link_to  "Help", pages_help_path %>
            <%# change this route! %>
        </li>
        <li class="navbar-link">
          <%= link_to  "Sign out", destroy_user_session_path %>
            <%# change this route! %>
        </li>
        <li class="navbar-link">
          <img src="" alt="" />
          <%# render user profile pic! %>
        </li>
        <% else %>
          <li class="navbar-link">
            <%= link_to  "Sign up", new_user_registration_path %>
          </li>
          <li class="navbar-link">
            <%= link_to  "Login", new_user_session_path %>
          </li>

          <% end%>

    </ul>
</div>

<% content_for :after_everything do %>

  <% end %>