<!DOCTYPE html>
<html>

<head>
  <title>DeliveryReactOnRails</title>
  <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Lato:100,300,400,400i,700|Montserrat|Nunito:300,300i,400,400i,600i,700|Raleway:300,400,600,700,800,900"
      rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="wrapper">
    <%= yield %>
      <%= javascript_pack_tag 'application' %>
        <%= yield :after_everything %>
  </div>

</body>

</html>